.App {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-btn {
  background: white;
  border: none;
  padding: 10px 20px;
  color: lightcoral;
  }

  .search-btn:hover {
      background: linear-gradient(
        90deg,
        white 0%,
        white 10%,
        #ff9a9e 99%,
        #ff9a9e 100%
      );
      color: rgb(0, 0, 0);
      cursor: pointer;
      transition: 1000ms;
      
  }

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.copyright {
  position: sticky;
  bottom: 0;
  color: grey;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  font-size: 15px;
  padding-bottom: 5px;
}
